/**
 * Payment Admin Styles
 *
 * @package NonprofitSuite
 * @since 1.7.0
 */

/* General admin styles are inline in each view template */
/* This file can be expanded with additional shared styles as needed */
